{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}poll_rugrouters_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:rugrouters:poll' %}{% endblock %}

{% block modal_id %}poll_rugrouters_modal{% endblock %}

{% block modal-header %}{% trans "Poll routers" %}{% endblock %}

{% block modal-body %}
<div class="right">
    <p>{% trans "All routers will be polled" %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary" type="submit" value="{% trans "Poll routers" %}" />
  <a href="{% url 'horizon:admin:rugrouters:index' %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
{% endblock %}
