{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}rebuild_rugrouters_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:rugrouters:rebuild' router_id %}{% endblock %}

{% block modal_id %}rebuild_rugrouters_modal{% endblock %}

{% block modal-header %}{% trans "Rebuild router" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Choose image to rebuild router" %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary" type="submit" value="{% trans "Rebuild router" %}" />
  <a href="{% url 'horizon:admin:rugrouters:index' %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
{% endblock %}
